extends ./layout.jade
block contenido
	div(class='col-md-30 remove-float container text-center big-top-space')
		h1 beinevenido a mi pagina web
		a(href='/login' class='right-space') Iniciar sesion
		a(href='/signup') Registro
