doctype html
html(lang='es')
	head
		title layaut jade express
		meta(charset='utf-8')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css'
		rel='stylesheet')
		link(href='/public/css/app.css' rel='stylesheet')
	body
		nav(class='large-padding black white-text')
			ul
				li
					a(href='/') Home
				li
					a(href='/app') Inicio
				li
					a(href='/app/imagenes') Mis imagenes
				li
					a(href='/app/imagenes/new') Nueva imagen
		block contenido
